html,
body {
  height: 100%;
  margin: 0;
}
/*Es la primera fila de todas las paginas*/
.lineadearriba {
  text-align: center;
  margin: 0;
  color: #fff;
  padding: 0;
}

/*Esto es el body de todas las paginas, cada cambio afectara a la estructura*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*Esto cambia el fondo de navbar*/
.navbar-cambios {
  background-color: #fffae6;
}

/*Cambia el color del texto navbar INCIAR SESION*/
.navbar-cambios .navbar-brand,
.navbar-cambios .navbar-text {
  color: #684a21;
}

/*Cambia el logo de navbar */
.navbar-brand img {
  height: 100px;
  width: auto;
  margin-left: 200px;
}

/*Esto cambia el buscador de navbar*/
.search-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}

/*Cambia la imagen de perfil del navbar*/
.navbar-text img {
  height: 30px;
  width: 30px;
  margin-right: 10%;
}

/*No se que cambia*/
.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  list-style-type: none;
  padding: 0;
}

/*Configura el cambio de los items de abajo del buscador*/
.nav-item {
  border-right: 1px solid black;
  padding-right: 50px;
  padding-left: 80px;
  pad
}

/*No se que cambia*/
.nav-item:last-child {
  border-right: none;
}


.hidden-cart {
  display: none;
}



.cart-product img {
  margin-top: 15px;
  width: 160px;
  height: 190px;
}

.cart-product h6 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.cart-product p {
  margin: 0;
  font-size: 14px;
  color: #777;
  
}

/*No se que cambia*/
#cart-count {
  border-radius: 50%;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: -10px;
}

.container-icon img {
  width: 30px;
  height: 30px;
}

.btn_style {
  background-color: #a15c02;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn_style:hover {
  background-color: #8a4d02;

  padding-right: 50px;
  padding-left: 50px;
}
.nav-item:last-child {
  border-right: none;
}
