html,
body {
  height: 100%;
  margin: 0;
}

.lineadearriba {
  text-align: center;
  margin: 0;
  color: #fff;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar-cambios {
  background-color: #fffae6;
  padding: 10px 10px 10px 200px;
}

.navbar-cambios .navbar-brand,
.navbar-cambios .navbar-text {
  color: #a15c02;
}

.navbar-brand img {
  height: 100px;
  width: auto;
  margin-left: 200px;
}

.search-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}

.navbar-text img {
  height: 30px;
  width: 30px;
  margin-right: 10%;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.nav-item {
  border-right: 1px solid black;
  padding-right: 80px;
  padding-left: 80px;
}

.nav-item:last-child {
  border-right: none;
}




.hidden-cart {
  display: none;
}

/* Estilo para los productos dentro del carrito */
.cart-product {
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
  color: #333;
  background: rgb(245, 224, 183);
}

.cart-product img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.cart-product h6 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.cart-product p {
  margin: 0;
  font-size: 14px;
  color: #777;
  
}

.btn-remove {
  background-color:#a97a40;
  color: white;
  border: none;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  border-radius: 1px;
  margin-top: 0.5rem;
}

#cart-count {

  border-radius: 50%;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: -10px;
}

/* Estilo para el botón del carrito */
.container-icon a {
  display: flex;
  align-items: center;
}

.container-icon img {
  width: 30px;
  height: 30px;
}

.btn_style {
  background-color: #a15c02;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn_style:hover {
  background-color: #8a4d02;
}
